<div id="header-wrapper">

  <%= image_tag("dudes.png", :class => "main-header-image")  %>
  <aside class="aside aside-header-1"></aside>
  <aside class="aside aside-header-2"></aside>

</div>

<div class="section">

  <div class="container ">

    <div class="tile is-vertical is-ancestor">

      <div class="tile is-parent">
        <div class="tile is-child is-horizontal has-text-centered">
          <article class="title has-text-weight-bold is-size-1">Народный променад</article>
          <article class="subtitle is-size-2-touch"><i>"Расти, моя корявая сосенка! Да не бывать тебе корабельною мачтой..."</i><br> © Невидимая Книга, 1976</article>
          <article class="subtitle has-text-weight-bold is-size-6 is-size-3-touch">2 сентября, с 12:00. Улица Рубинштейна</article>
        </div>
        
      </div>

      <div class="tile margin-t-2">

        <div class="tile is-parent is-vertical">

          <article class="tile is-child">
            <p class="title has-text-centered is-size-5 is-size-2-touch">Народный променад "Рубинштейна и окрестности"</p>
            <p class="subtitle is-size-3-touch has-text-centered-touch">Разовое некоммерческое мероприятие к 77-летию Довлатова, скромная инициатива простых людей. Грянет залп с Нарышкина бастиона, и увидимся.До встречи на багряной прогулке!</p>
          </article>

          <div class="tile is-parent is-hidden-desktop margin-t-2"></div>
          
          <article class="tile is-child">
            <p class="title has-text-centered is-size-5 is-size-2-touch">Для местных жителей:</p>
            <p class="subtitle is-size-3-touch has-text-centered-touch">Вознамерившись исключить беспокойное присутствие и неудобь, сократили численность площадок (ограничимся лишь некоторыми).
            Проведение уличных событий программы согласовано с Администрацией Центрального района Санкт-Петербурга (заяв. № 01-14-3457.18-0-1, выд. 21.08.2018).</p>
          </article>

        </div>
        
        <div class="tile is-parent is-hidden-touch">
          <article class="tile is-child">
            <figure class="image">
              <%= image_tag("sign.png", class:"ui large rounded image") %>
            </figure>
          </article>
        </div>
      </div>

      <div class="tile is-parent is-hidden-desktop">
        <article class="tile is-child">
          <figure class="image" style="max-width: 50%; margin: 0 auto;">
            <%= image_tag("sign.png", class:"ui large rounded image") %>
          </figure>
        </article>
      </div>


    </div>

  </div>

</div>

<div class="section">

  <div class="columns is-centered">

    <div class="column is-one-quarter is-half-touch has-text-centered">

      <a class="button is-link is-medium is-large-touch" href="https://vk.com/pol_den_dovlatova">
        <span class="icon is-medium">
          <%= fa_icon "vk" %>
        </span>
        <span>Вконтакте</span>
      </a>

    </div>

    <div class="column is-one-quarter is-half-touch has-text-centered">

      <a class="button is-link is-medium is-large-touch" href="https://www.facebook.com/events/459410884572125/">
        <span class="icon is-medium">
          <%= fa_icon "facebook" %>
        </span>
        <span>Facebook</span>
      </a>

    </div>
    
  </div>

</div>

<div class="section">
  
  <div class="container has-text-centered">
    
    <h1 class="title has-text-weight-bold">Список участников парада диксилендов</h1>

    <article class="media">
      
      <figure class="media-left">
        <p class="image is-128x128">
          <%= image_tag("lenDiksi.jpg") %>
        </p>
      </figure>
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Ленинградский Диксиленд п/у Заслуженного Артиста РФ Олега Кувайцева (саксофон) и друзья</strong>
            <br>Ленинградский диксиленд" был создан трубачом Всеволодом Королевым и кларнетистом Александром Усыскиным. Биография "Ленинградского Диксиленда" неразрывно связана с такими колоритными музыкантами, как братья Валентин и Александр Колпашниковы, Эдуард Левин, Роберт Паузер, Борис Локшин, Юрий Акулов, Владимир Грибов, Владимир Яковлев, Георгий Чиков, Александр Скрыпник, Валерий Заварин, Михаил Чекавый, Александр Кавлелашвили, Юрий Руденко, Владимир Воронин и, наконец, Юрий Мирошниченко, чей бас и сузафон еще витает над ансамблем. Кредо "Ленинградского диксиленда" - сочетание безупречного следования традиции с естественностью игры. Начиная с 60-х годов ансамбль с огромным успехом выступал на международных фестивалях. Ему рукоплескали в городах Европы и Америки, его знают и любят поклонники у нас, в России. В репертуаре "Ленинградского диксиленда" танцевальная музыка 20-х - 50-х г.г. ..

          </p>
        </div>
      </div>
      
      <div class="media-right">
        <%= fa_icon "map-pin" %>
        <p><strong>с 14:00 до 19:00</strong></p>
        <p>Танцплощадка у клумбы</p> 
      </div>
    </article>

    <article class="media">
      
      <figure class="media-left">
        <p class="image is-128x128">
          <%= image_tag("doc-jazz.jpg") %>
        </p>
      </figure>
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Валентин Колпашников (ударные, вокал) и ансамбль Доктор Джаз п/у Юрия Руденко (пианино)</strong>
            <br>История ленинградского ансамбля "Доктор Джаз" ведется с первой пятилетки 1950-х. Точнее с весны 1953 г. Понятно, что время для создания оркестра неподходящее. Относительно высокостойкое название утвердились немногими годами позднее. Обозначением коллектив указывает на популярную мелодию, а также наличие медицинских работников в составе. Как герой советской шпионской ленты 60-х бэнд "...менял имена..." (Мистер Джаз, Нью-Орлинс, Семеро с Малой Садовой и тд). Большей степенью из этой общности в 1957-58 г.г. и сложился "Ленинградский Диксиленд". Рукодитель ансамбля "Доктор Джаз" - преподователь йоги, инженер, пианист, член Союза Композиторов Юрий Руденко. Затем его бэнд-лидерское дело продолжил один из старейшиших кларнетистов города Олег Гребенников. 

          </p>
        </div>
      </div>
      
      <div class="media-right">
        <%= fa_icon "map-pin" %>
        <p><strong>с 14:00 до 19:00</strong></p>
        <p>Танцплощадка у клумбы </p> 
      </div>
    </article>

    <article class="media">
      
      <figure class="media-left">
        <p class="image is-128x128">
          <%= image_tag("valery.jpg") %>
        </p>
      </figure>
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Квинтет Михаила Лоова (труба, вокал) - Александра Усыскина, Германия (кларнет), Анна Заворина (контрабас, вокал) и Valery Petrov Ensemble</strong>
            <br>Анна Заворина: "Впервые столкнулась с рене-геноновской традицией в музыке, а не на бумаге. Бэнд-лидер Валерий Георгиевич - Человек Души, я слышала о нем еще от родителей. Благодаря Валерию Георгиевичу в мою жизнь вошли такие личности как Жерар де Нерваль, Роальд Мандельштам, Леонид Аронзон, Джон Ди, Михаил Еремин, Фулканелли, Роберт Паузер, Владислав Лен, Шалом Шварц, Юлий Островский, Родион Гудзенко, Владимир Ковенацкий, Александр Шеваловский (как видите, эпохи и люди разнообразны, но что-то общее в них есть). Множество забытых, или полузабытых авторов. Для меня огромная честь играть с музыкантами Валерия Петрова. Слава Богине, что люди той эпохи соглашаются выступить с молодежью, здравствуют и продолжают радовать слушателей...",z - объясняет солистка. 
            Некоторое толкование, что обнаружили в интернетах: Valery Petrov Ensemble - начинающий любительский ансамбль под управлением простого петербургского пенсионера Валерия Георгиевича Петрова (можно угадать из названия). Знаковой фигуры "Круга Понтилы" - неофициального литературно-философского объединения Ленинграда 50-70-х. 

          </p>
        </div>
      </div>
      
      <div class="media-right">
        <%= fa_icon "map-pin" %>
        <p><strong>с 14:00 до 19:00</strong></p>
        <p>Танцплощадка у клумбы </p> 
      </div>
    </article>


    <article class="media">
      
      <figure class="media-left">
        <p class="image is-128x128">
          <%= image_tag("https://via.placeholder.com/128x128?text=Нет+Фото") %>
        </p>
      </figure>
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Nord-West Dixieland Jazz Band п/у Олега Саморукова (тромбон)</strong>
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <%= fa_icon "map-pin" %>
        <p><strong>с 14:00 до 19:00</strong></p>
        <p>Танцплощадка у клумбы </p> 
      </div>
    </article>


    <article class="media">
      
      <figure class="media-left">
        <p class="image is-128x128">
          <%= image_tag("https://via.placeholder.com/128x128?text=Нет+Фото") %>
        </p>
      </figure>
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Джаз-бэнд Владимира Воронина (банджо, вокал)</strong>
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <%= fa_icon "map-pin" %>
        <p><strong>с 14:00 до 19:00</strong></p>
        <p>Танцплощадка у клумбы </p> 
      </div>
    </article>
    

  </div>
</div>

<div class="section">
  
  <div class="container has-text-centered">
    
    <h1 class="title has-text-weight-bold">Мероприятия входящие в Народный променад</h1>

  </div>
</div>

<div class="tabs is-centered">
  <ul>

    <li class="is-active tablinks">
      <a onclick="openTab(event,'skver')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>Сквер им. С.Довлатова</span>
      </a>
    </li>

    <li class="tablinks">
      <a  onclick="openTab(event,'dovl')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>Памятник Довлатову</span>
      </a>
    </li>

    <li class="tablinks">
      <a onclick="openTab(event,'rub')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>Рубинштейна и окрестности</span>
      </a>
    </li>

    <li class="tablinks">
      <a onclick="openTab(event,'libM')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>Библиотека им. В.Маяковского</span>
      </a>
    </li>

    <li class="tablinks">
      <a onclick="openTab(event,'libS')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>Библиотека Семеновская</span>
      </a>
    </li>

  </ul>
</div>

<div class="section tabcontent" id="skver" style="display: block;">
  <div class="container">

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Художник и галерист Петр Белый. Объект "Черновик Довлатова" (изготовлено специально для Променада) </strong>
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>с 12:00 - 19:00</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Всего лишь несколько приветственных слов </strong>
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>13:00</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Валерий Георгиевич Попов, Нина Катерли, Николай Браун о Довлатове </strong>
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>13:30</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Торжественная церемония открытия памятной доски</strong>
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>14:00</strong></p>
      </div>
    </article>

    
  </div>
</div>


<div class="section tabcontent" id="dovl" style="display: none;">
  <div class="container">
    
    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Шумовой перформанс «какофония на Ундервуде» и открытия инсталляции «Зеркало для писателя»</strong> - будет нечто невообразимо забавное и художественно смелое вокруг памятника С. Довлатову, который станет равноправным участником действия. Автор: Дима Пр - сотрудник #УлиХуЧе
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>с 12:00 - 19:00</strong></p>
      </div>
    </article>
    
  </div>
</div>

<div class="section tabcontent" id="rub" style="display: none">

  <div class="container">
  
    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Экскурсии по Рубинштейна</strong> Тур-бюро "Ползком по Питеру"
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>12:00</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Экскурсии по Рубинштейна</strong> Тур-бюро "Ползком по Питеру"
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>14:00</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Экскурсии по Рубинштейна</strong> Тур-бюро "Ползком по Питеру"
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>16:00</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Экскурсии по Рубинштейна</strong> Тур-бюро "Ползком по Питеру"
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>18:00</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Экскурсии по Рубинштейна</strong> Тур-бюро "Ползком по Питеру"
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>20:00</strong></p>
      </div>
    </article>



  </div>
</div>

<div class="section tabcontent" id="libM" style="display: none">
  <div class="container">
    
    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Михаил Федорович Еремин </strong><br> Легендарный переводчик и поэт «филологической школы» Михаил Фёдорович Ерёмин, член Российского союза профессиональных литераторов, русского ПЕН-клуба, расскажет об эпохе 80-х и встречах с С.Д.Довлатовым в Нью-Йорке.
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>17:00</strong><br> Белый зал Библиотеки Маяковского</p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            Показ видео-хроники из архива<strong> Натальи Шарымовой </strong><br>"Ленинградская филологическая школа в гостях у Довлатова. Нью-Йорк, 1988-89 г.г."
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>18:00</strong><br>Белый зал Библиотеки Маяковского</p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Old Men River Jazz Band</strong> п/у Михаила Городецкого (труба, вокал) 
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>19:00</strong><br>Двор Библиотеки Маяковского</p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            х/ф "Проводы белых ночей" (Ленфильм, 1969)
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>20:30</strong><br>Двор Библиотеки Маяковского</p>
      </div>
    </article>


  </div>
</div>

<div class="section tabcontent" id="libS" style="display: none">

  <div class="container">
    
    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            Художественное объединение "Кривой Дизайн". Выставка "Гений пера". <br> Портреты Довлатова и других классиков. Вернисаж 1 сентября, с 15:00.
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>с 12:00</strong></p>
      </div>
    </article>

  </div>
</div>

<div class="section">
  
  <div class="container has-text-centered">
    
    <h1 class="title has-text-weight-bold">Дополнительные мероприятия на улице Рубинштейна в рамках народного променада</h1>

  </div>
</div>


<div class="tabs is-centered">
  <ul>

    <li class="tablinksbar">
      <a onclick="openBar(event,'tsvet')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>бар Цветочки </span>
      </a>
    </li>

    <li class="is-active  tablinksbar">
      <a  onclick="openBar(event,'meet')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>пивной зал Встретились, Поговорили</span>
      </a>
    </li>

    <li class="tablinksbar">
      <a onclick="openBar(event,'brov')">
        <span class="icon is-small"><%= fa_icon "map-pin" %></span>
        <span>модная рюмочная На Бровях</span>
      </a>
    </li>

  </ul>
</div>

<div class="section tabcontentbar" id="tsvet" style="display: none;">
  <div class="container">

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            Художник и писатель Кир Шаманов читает Довлатова и новеллы своего последнего романа "Дурные дети перестройки" 
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>19:00</strong></p>
      </div>
    </article>
    
  </div>
</div>

<div class="section tabcontentbar" id="meet" style="display: block;">
  <div class="container">

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            поэт <strong>Всеволод Королев</strong> Доклад "Сева засмеялся, но не растерялся..." 
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>19:30</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            доцент-биолог <strong>Андрей Ефанов</strong> Доклад "That's my home" по мотивам рассказа Довлатова "Роль" <br>
            В рамках доклада Андрей Витальевич читает и комментирует знаменитое довлатовское произведение "Роль". В рассказе озвучивается точный ленинградский адрес. 20 лет назад Ефанов жил на той же лестничной клетке, в соседней квартире. В 1998 г. во дворе дома происходил всероссийский слет парапсихологов. Территория была признана аномальной зоной, что подтверждалось, случайно обнаруженными, дневниками одного старца-инока. Об этом и прочем из первых уст.
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>20:30</strong></p>
      </div>
    </article>

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Ирина Дудина</strong> - поэт, прозаик, переводчик, художник, журналист, создатель и главный редактор журнала "Богемный Петербург" - прочтет свои произведения 
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>21:30</strong></p>
      </div>
    </article>    
    
  </div>
</div>

<div class="section tabcontentbar" id="brov" style="display: none;">
  <div class="container">

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            проект Открытая ЧИТКА. Слет "Когда рукопись вернут?.." 
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>19:30</strong></p>
      </div>
    </article>
    

    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            далее в ЧИТКЕ поэт Антон Трубайчук. Чтения и пения округлым баритоном
          </p>
        </div>
      </div>
      
      <div class="media-right">
        <p><strong>21:30</strong></p>
      </div>
    </article>    

  </div>
</div>

<div id="footer-wrapper">
 <%= image_tag("dudes_futer_ok.png", :class => "main-footer-image")  %>
  <aside class="aside aside-footer-1"></aside>
  <aside class="aside aside-footer-2"></aside>
</div>